h1 {
    margin: 50px auto;
    width: fit-content;
}

.card-list-li {
    margin: 15px auto;
    background-color: #c5c5c5 !important;
}

.card-list-li mat-divider {
    margin: 8px 25px;
}

.card-list-li mat-card-content {
    margin: 0 8px;
}