<h1>{{postCategory}}</h1>

<mat-card class="main">
    <mat-card-header>
        <h2>{{post.title}}</h2>
        <h4>Írta: {{postAuthor}}</h4>
        <h4>{{post.date | formDate}}</h4>
        
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
       {{post.text}}
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Kommentek</mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-flat-button id="newCommentBtn" (click)="newComment()"><mat-icon >add</mat-icon>Új komment</button>
            <app-post-comment [postCommentIds]="post.comments"></app-post-comment>
          </mat-expansion-panel>
    </mat-card-content>
</mat-card>
