<h1>Profilom</h1>

<mat-card class="main">
    @if (user != null) {
        <mat-card-content>
            <form [formGroup]="updateForm" class="profile-info-form">  
                <mat-form-field appearance="outline">
                    <mat-label>Felhasználó név</mat-label>
                    <input matInput formControlName="username" [(ngModel)]="user.name" readonly="">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" [(ngModel)]="user.email" readonly="">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </form>

            <button mat-stroked-button (click)="logOut()" class="logoutBtn">Kijelentkezés</button>
        </mat-card-content>
    } @else {
        <mat-card-content>
            <h2>Először jelentkez be.</h2>
        </mat-card-content>
    }
</mat-card>
