<mat-toolbar id="header">
    <a routerLink="/home" id="title">Zene sarok</a>
    @if (isLoggedIn) {
      <div>
        @if (role == "writer") {
          <button mat-flat-button routerLink="/stat">Statisztika</button>
        }
        <a routerLink="/profile"><mat-icon style="transform: scale(2);">account_circle</mat-icon></a>
      </div>
    }
      
    @if (!isLoggedIn) {
      <span><a routerLink="/login">Bejelentkezés</a> / <a routerLink="/signup">Regisztrálás</a></span>
    }
</mat-toolbar>
<router-outlet/>