.main404 {
    margin-top: 100px;

    text-align: center;
}

mat-icon {
    margin: 50px auto;

    --size: 60px;

    width: var(--size);
    height: var(--size);

    font-size: var(--size);

    color: cyan;
}